.upload-panel-container{
    display: inline-block;
}

.upload-container{
    vertical-align: top;
    display: inline-block;
}

.display-image-container{
    vertical-align: top;
    height: 260px;
}

.card-image-priority{
    padding: 5px;
    display: inline-block;
}

.mat-radio-label{
    padding-right: 10px;
}

.img-priority-card .mat-card{
    height: 188px;
}

.upload-section{

}

.upload-section.mdl-button{
    margin-right: 5px;
}