.div-container-upload{
    margin-top: 50px;
}

.div-main-container{
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
}

.div-designpage-container{
    position: absolute;
    left: 65px;
    top: 10px;
    right: 0;
    bottom: 0;
}

