<div class="bg-all-page">
    <!--<div class="div-container-upload">
    <input type="file" value="upload" placeholder="Upload file..." accept=".jpg" (change)=upload($event) multiple>
    <button type="button" (click)="submit()">Upload</button>
  </div>-->

    <div class="div-main-container">
        <app-menu (menuIsClicked)="onMenuIsClicked($event)">
        </app-menu>
        <div class="div-canvas-container">
            <div #mainDesignPageContainer>
            </div>
        </div>
    </div>
</div>

<!-- <mat-card>
                Upload
                <input type="file" value="upload" placeholder="Upload file..." accept="*" (change)=upload($event) multiple>
                <button mat-button class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect" (click)="submit()">Upload</button>
            </mat-card> -->