<div class="main-panel-container">
    <div class="main-panel-menu">
    </div>
    <div class="main-panel-content">
        <div class="divMainCanvasScroll">
            <mat-card>
                <canvas id="divCanvasContainer" width="1030" height="1800"></canvas>
            </mat-card>
        </div>
    </div>
    <div style="display: inline-block;">
        <button style="margin-left: 20px; margin-bottom: 10px;" mat-button
            class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect"
            (click)="refresh()">refresh</button>
        <br>
        <button style="margin-left: 20px; margin-bottom: 10px;" mat-button
            class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect"
            (click)="openColorPickerDialog()">ระบุสีพื้นหลัง</button>
        <br>
        <button style="margin-left: 20px;" mat-button
            class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect"
            (click)="saveColor()">บันทึกสีพื้นหลัง</button>
    </div>
</div>



<!-- <mat-card>
                Upload
                <input type="file" value="upload" placeholder="Upload file..." accept="*" (change)=upload($event) multiple>
                <button mat-button class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect" (click)="submit()">Upload</button>
            </mat-card> -->