.div-container-upload{
    margin-top: 50px;
}

.div-main-container{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
}

.div-left-menu{
    margin-left: 20px;
    padding: 10px;
    width: 350px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    overflow-y: hidden;
}

.div-left-menu .mat-card{
    margin-bottom: 10px;
}

.div-canvas-container{
    padding-left: 15px;
    position: absolute;
    left: 400px;
    top: 10px;
    right: 20px;
    bottom: 20px;
}

