/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-family: 'Amaranth', sans-serif;
}

.page-splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a8e0ff;
    background: radial-gradient(circle, #9bd2f7, #2a719e);
    z-index: 10000;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.bg-all-page{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: radial-gradient(circle, #9bd2f7, #2a719e);*/
    background: rgb(235, 235, 235);
    overflow: hidden;
}

.mdl-button{
    color: white;
    background-color: rgb(27, 51, 89);
}

.mdl-button:hover{
    background-color: rgb(62, 100, 160);
}

.ui-carousel-item{
    /*background: rgba(0,0,0,.03) !important;*/
    background-color: white !important;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    margin-bottom: 2px;
}

.arrow{
    background-color: gray;
    border-radius: 5px;
}

