/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: Kanit;
    src: url(assets/font/Kanit-Light.ttf);
}

body{
    font-family: Kanit !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.page-splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a8e0ff;
    background: radial-gradient(circle, #9bd2f7, #2a719e);
    z-index: 10000;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.bg-all-page{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: radial-gradient(circle, #9bd2f7, #2a719e);*/
    overflow: hidden;
    /*background-image: url(/assets/images/bg-pattern5.png);
    background-repeat: repeat;*/
    background-color: #f5f5f5;
    
}

.mdl-button{
    color: white;
    background-color: rgb(27, 51, 89);
}

.mdl-button:hover{
    background-color: rgb(62, 100, 160);
}

.ui-carousel-item{
    /*background: rgba(0,0,0,.03) !important;*/
    background-color: white !important;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    margin-bottom: 2px;
}

.arrow{
    background-color: gray;
    border-radius: 5px;
}

.main-panel-container{

}

.main-panel-content{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    /*width: calc(100% - 250px);*/
    width: auto;
    overflow-y: auto;
}

.main-panel-menu{
    width: 200px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    border-left: rgb(150, 20, 150) 5px solid;
    margin-left: 5px;
    background-color: white;
    display: none;
}

.title-panel-menu{

}

.desc-panel-menu{
    
}

.img-priority-card.mat-card {
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    margin: 20px;
    position: relative;
    margin-bottom: 50px;
    transition: all .2s ease-in-out;
    background-color: lightgray;
  }
  
  .img-priority-card.mat-card:hover {
    /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 54px;
  }

  .mdl-button{
      background-color: #ff6d00;
  }

  .mdl-button:hover{
    background-color: #ff9e40;
  }

  /* Loading */
  .show-loading{
    display: inline !important;
  }

  .global-loading{
    z-index: 9999;
    background-color: rgba(50,50,50,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
  }

  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    z-index: 9999;
    margin-left: calc(50% - 32px);
    margin-top: 250px;
    
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  


